/*------------------------------------*\
    ::Variables
    ----------------------------------*
    ::Colors
    ::Layout
    ::Breakpoints
    ::Text Styling
\*------------------------------------*/


/*------------------------------------*\
    ::Colors
\*------------------------------------*/

//dark grays
$color-1:           #d8d8d8;
$color-1--light:    #f3f4f8;
$color-1--dark:     #292929;

//light grays
$color-2:           #f7f7f7;
$color-2--light:    #ffffff;
$color-2--dark:     #f9f9f9;

//pinks
$color-3:           #ff5e5e;
$color-3--light:    lighten($color-3,20%);
$color-3--dark:     darken($color-3,20%);

//alert colors
$color--good:        #6ade72;
$color--bad:         $color-3;
$color--meh:         $color-1;


/*------------------------------------*\
    ::Layout
\*------------------------------------*/

$row-width:         875px; // essentially full-width page

$pad:               0.9375rem;
$gap:               $pad;
$gap--big:          $gap*3.5;
$gap--baby:         $gap*1.5;

$gap-em:            0.9375em;
$gap-em--big:       $gap-em*3.5;
$gap-em--baby:      $gap-em*1.5;


/*------------------------------------*\
    ::Breakpoints
\*------------------------------------*/

$phone--max:        500px;
$phone--min:        320px;
$phone--mid:        round($phone--min + ($phone--max - $phone--min)/2);

$tab--max:          800px;
$tab--min:          $phone--max + 1;
$tab--mid:          round($tab--min + ($tab--max - $tab--min)/2);

$desk--max:         $row-width;
$desk--min:         $tab--max + 1;
$desk--mid:         round($desk--min + ($desk--max - $desk--min)/2);


/*------------------------------------*\
    ::Text Styling
\*------------------------------------*/

//font families
$fam--heading:       'Droid Sans', sans-serif;
$fam--body:          'Open Sans', sans-serif;
$fam--nav:           $fam--body;
