/*------------------------------------*\
    ::Main Nav (header)
\*------------------------------------*/
.nav-head {
    &__wrap {
        overflow: hidden;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        &:after { // background on activation
            content: "";
            position: absolute;
            top: -10vw;
            left: -50vw;
            right: 0;
            width: 200vw;
            height: 0;
            background-color: $color-1--dark;
            transform: rotate(-90deg);
            transform-origin: 0 0;
            @include bp($tab--mid){
                left: -100vw;
            }
        }
        ul {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 10;
            overflow-y: auto;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        li {
            position: relative;
            z-index: 10;
            list-style: none;
            width: 100%;
            opacity: 0;
            &:first-of-type {
                margin-top: 4em; // for the logo
            }
        }
        a {
            display: block;
            width: 100%;
            font-family: $fam--nav;
            font-weight: bold;
            letter-spacing: .03em;
            text-align: center;
            font-size: 9em;
            color: $color-1--light;
            @include bp($tab--mid){
                font-size: 15vw;
            }
        }
        // active nav
        // .nav-head__trigger + &, /* DEBUG */
        .nav-head__trigger.active + & {
            height: 100vh;
            &:after {
                top: 0;
                height: 110vh;
                transform: rotate(0);
                transition: 800ms; // yep, only transition in — if they don't want it, exit fast
            }
            li {
                opacity: 1;
                transition: opacity 500ms;
                @for $i from 1 through 3 {
                    &:nth-of-type(#{$i}){
                        transition-delay: #{$i*150+100}ms;
                    }
                }
            }
        }
    }
}
// "hamburger"
.nav-head__trigger {
    position: fixed;
    z-index: 20;
    display: block;
    top: 0;
    width: 9.6em;
    height: 9.6em;
    padding-top: 4.2em;
    background-color: rgba(#fff,.1);
    border: 1px solid rgba(#000,.04); // gives it some contrast on white backgrounds
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        margin-left: -25px;
        margin-top: -3px;
        width: 50px;
        height: 5px;
        background-color: $color-1--dark;
        transform-origin: 50%;
        transition: 300ms;
        &:nth-of-type(1){
            transform: translateY(-14px);
        }
        &:nth-of-type(3){
            transform: translateY(+14px);
        }
    }
    // active hamburger
    // &, /* DEBUG */
    &.active {
        span {
            background-color: $color-1--light;
            &:nth-of-type(1){
                transform: rotate(45deg) scale(1.7);
            }
            &:nth-of-type(2){
                transform: scale(0);
                opacity: 0;
            }
            &:nth-of-type(3){
                transform: rotate(-45deg) scale(1.7);
            }
        }
    }
}